@font-face {
    font-family: "Myriad";
    src: url('font/MyriadPro-Bold.otf?#iefix') format('truetype');
}

@font-face {
    font-family: "Avanth";
    src: url('font/ITC Avant Garde Gothic LT Book Regular.otf?#iefix') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: #58595b;
    font-size: 1.2em;
    font-family: 'Nunito Sans', sans-serif;

}

a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

button:focus {
    outline: 0;
}

h1 {
    font-size: 2em;
    width: 80%;
    margin: 3% 2% 2% 2%;
    text-align: center;
}

h1::before,
h1::after {
    background-color: #767575;
    content: "";
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 10%;
    margin: 1%;
}

h2 {
    line-height: 1.3em;
}

blockquote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-left: solid 3px #ffffff;
    margin-bottom: 6%;
}

blockquote p {
    width: 80%;
    margin: 0 10% 0 10%;
    padding-bottom: 2%;
}

blockquote span {
    width: 70%;
}

blockquote p::before {
    color: #ddd;
    font-size: 4em;
    z-index: -1;
    content: "\201C";
}


main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    font-family: Avanth;
    color: #fff;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* HEADER (IMG, TEKSTS, MENU) */

header {
    max-width: 100vw;
    max-height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 2;
}

.part1 {
    width: 23vw;
    min-height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-image: url(img/logo2.png);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}

.part2 {
    width: 70vw;
    min-height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 2vw;
}

.logoTxt {
    width: 100vw;
    min-height: 40%;
    color: #fbb040;
    font-size: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 25%;
}

.stickynav {
    position: fixed;
    top: 0;
    height: 6%;
    width: 100vw;
    background-color: #fbb040;
}

.navList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    position: relative;
}

.navList p,
.buttonHolder p {
    display: none;
    font-size: 1.2vw;
}

.Sticky {
    max-width: 100%;
}

.buttonHolder {
    display: none;
}

.menuButton {
    width: 20%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 1.4em;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    border: 1px solid #ffffff;
    border-left: none;
    background: transparent;
    color: white;
    font-family: Avanth;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.menuButton:nth-child(2) {
    border-left: 1px solid #ffffff;
}

.menuButton:hover {
    cursor: pointer;
    font-size: 2.2vw;
    background-color: #fbb040;
}

.menuButtonSticky {
    width: 10%;
    border: none;
    font-size: 2vw;
}


.menuButtonSticky:nth-child(2) {
    border: none;
    margin-left: 30%;
}

.menuButtonSticky:last-child {
    margin-right: 1%;
}

/* HAMBURGER ICON*/

#hamburger {
    display: none;
    margin-top: 20%;
    width: 40px;
    height: 30px;
    background: transparent;
    position: relative;
    border: 0;
    padding: 0;
    margin: 0;
}

#hamburger span {
    display: block;
    width: 100%;
    border-top: 5px solid #ffffff;
    padding-top: 10px;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

#hamburger:hover {
    cursor: pointer;
}

#hamburger:focus {
    outline: 0;
}

#hamburger span {
    padding-top: 1px;
    border-top: 3px solid #ffffff;
}

#hamburger span:first-child {
    -webkit-transform: rotate(-45deg) translate(-7px);
    transform: rotate(-45deg) translate(-7px);
    
}

#hamburger span:last-child {
    -webkit-transform: rotate(45deg) translate(-5px, 3px);transform: rotate(45deg) translate(-5px, 3px);
}


#hamburger span:nth-child(2) {
    opacity: 0;
}

#hamburger.hamburgerOpen span {
    opacity: 1;
    -webkit-transform: translate(0) rotate(0);
    transform: translate(0) rotate(0);
    padding-top: 10px;
}


/* CONTENT */

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 80vw;
    min-height: 48vh;
    padding: 0 10vw;
    font-size: 1.2em;
    padding-top: 2vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: justify;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.3em;
}

.content img {
    max-width: 100%;
    height: auto;
}

.training {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1% 0;
}

.trainingDes,
.trainingImg {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.trainingDes {
    width: 45%;
}

.gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.photo {
    width: 23%;
    height: auto;
    margin: 0.5em;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}

.photo:hover {
    cursor: pointer;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.photoBig {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.lightbox {
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.lightbox img {
    width: 60%;
    height: auto;
}

form {
    min-height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 2% 0 0 5%;
}

.smallForm {
    width: 30%;
    height: 100%;
}

.bigForm {
    width: 58%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.form-group {
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

label {
    width: 100%;
    margin-bottom: 0.5%;
    font-size: 1.2em;
}

input {
    background: #696a6c;
    border: none;
    width: 80%;
    height: 4vh;
    border-radius: 6px;
    color: #ffffff;
    font-size: 1em;
    margin-bottom: 6%;
    padding-left: 2%;
}

textarea {
    width: 100%;
    min-height: 30vh;
    background: #696a6c;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    font-size: 1.1em;
    padding-left: 2%;
}

input:focus,
textarea:focus {
    background: #7a7b7d;
    outline: none;
}

.btn {
    min-width: 15%;
    height: 5vh;
    background: #58595b;
    border: 1px solid white;
    font-size: 1em;
    color: #ffffff;
    border-radius: 6px;
    margin-top: 5%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.btn:hover {
    cursor: pointer;
    background: #696a6c;
    border-radius: 6px;
    margin-top: 5%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.alert {
    width: 40%;
    height: 5vh;
    margin: 5% 0 0 0;
    border-radius: 6px;
    background: #58595b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 4%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.danger {
    background: #c93b3b;
    border: 1px solid #a22828;
}

.success {
    background: #4BB543;
    border: 1px solid #469840;
}

.address {
    width: 80%;
    margin: 2% 10% 0 10%;
}

/*FOOTER (STOPKA, SOCIAL)*/

hr {
    width: 30vw;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    min-height: 16vh;
    padding: 2vh 10vw 0 10vw;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 40%;
    margin: 0 30% 0 30%;
    padding-top: 1.5%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-top: 1px solid #fff;
    height: 30%;
    font-size: 1.03vw;
}

.socialIcon {
    transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
}

.socialIcon:hover {
    cursor: pointer;
    color: #fbb040;
}

.copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    margin-top: 1%;
}

@media only screen and (max-width: 1450px) {
    .content {
        min-height: 50%;
    }

    .navList p {
        font-size: 1.4vw;
    }

    .photo {
        width: 30%;
    }
}

@media only screen and (max-width: 1315px) {


    header {
        min-height: 25vh;
        max-width: 100%;

    }

    .content {
        min-height: 50vh;
    }

    .social {
        font-size: 1.2vw;
    }
}

@media only screen and (max-width: 1170px) {

    .menuButtonSticky:nth-child(2) {
        margin-left: 25%;
    }

    .social {
        font-size: 1em;
    }

}

@media only screen and (max-width:1060px) {

    .part1 {
        min-width: 100%;
        max-width: 100%;
        background-image: url(img/logo3.png);
        background-size: contain;
    }

    .part2 {
        width: 100vw;
        min-height: 15vh;
        padding: 0;
    }

    .logoTxt {
        display: none;
    }

    #hamburger {
        display: block;
    }

    nav {
        max-width: 100%;
        padding: 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 35%;
    }

    .navList {
        position: relative;
        height: 100vh;
        width: 100%;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .buttonHolder {
        width: 100%;
        height: 7vh;
        padding-right: 1.5%;
        background: #fbb040;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .buttonHolder p {
        display: none;
        margin-right: 60%;
        font-size: 2.7vw;
    }

    .menuButton {
        min-width: 100%;
        max-height: 20%;
        font-size: 1.7em;
        background: #fbb040;
        border:0 none;
        position: relative;
        left:-100%;
        -webkit-box-shadow: inset 0 0 0 0.1px #7B6545;
        box-shadow: inset 0 0 0 0.1px #7B6545;
        -webkit-transition: ease-out 0.3s;
        transition: ease-out 0.3s;
    }
    
    .menuButtonOpen{
        left:0;
    }
    
    .menuButton:nth-child(2){
        border:none;
    }
    
    .menuButton:hover {
        font-size: 1.7em;
        -webkit-box-shadow: inset 100vw 0 0 0 #7B6545;
        box-shadow: inset 100vw 0 0 0 #7B6545;
    }

    .content {
        margin-top: 6vh;
    }

    .trainingDes,
    .trainingImg {
        width: 100%;
    }

    .trainingImg:nth-child(even) {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }

    .smallForm,
    .bigForm {
        width: 90%;
        margin-top: 10%;
    }

    .photo {
        width: 100%;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }

    .social a {
        margin: 0 2%;
    }
    
    .btn {
        width: 30%;
    }
    .alert {
        width: 100%;
    }
    .address {
        text-align: center;
        margin: 0 10% 0 10%;
    }
}
